extends layout
include mixins/cat_card
block content
    div(class="d-flex justify-content-center pt-5")
        div(class="card text-left w-60 p-2 hover-effect")
            h3(class="card-title text-center") #{shelter.name}
                h6(class="card-subtitle mb-2 text-muted text-left") #{shelter.desc}
                hr
                ul
                    li(class="text-capitalize") Location: #{shelter.location}
    div(class="d-flex flex-row justify-content-center col-12 pt-5 gap-10")
        if shelter.current_cats.length > 0
            each cat in shelter.current_cats
                +card(cat)

